@page
@model Sunridge.Pages.Home.Documents.IndexModel
@using Sunridge.Utility
@{
    ViewData["Title"] = "Documents";
}


@* Display management and category buttons *@
<div class="row">

    <div class="col-3">

        @* Links to manage documents only visible to admin *@
        @if (User.IsInRole(SD.AdministratorRole))
        {
            <div class="mb-3">
                <h5 class="row mb-1">Manage Documents</h5>

                <div class="row mb-1">
                    <a class="btn btn-block btn-primary" asp-page="/Admin/Document/Category/Index">Categories</a>
                </div>

                <div class="row mb-1">
                    <a class="btn btn-block btn-primary" asp-page="/Admin/Document/File/Index">Files</a>
                </div>

                <div class="row mb-1">
                    <a class="btn btn-block btn-primary" asp-page="/Admin/Document/Section/Index">Sections</a>
                </div>                

                <div class="row mb-1">
                    <a class="btn btn-block btn-primary" asp-page="/Admin/Document/SectionText/Index">Section Text</a>
                </div>
                
            </div>
        }


        @*Clear filters (Search and Selected Category*@
        <div class="row mb-1">
            @*Highlight no filters*@
            @if (Model.SelectedCategory == null && Model.Search == null)
            {
                <a asp-page="Index" class="btn btn-block btn-outline-primary" style="border-radius:2px;" asp-route-Id="">Clear&nbsp;Filters</a>
            }
            else
            {
                <a asp-page="Index" class="btn btn-block btn-outline-secondary" style="border-radius:2px;" asp-route-Id="">Clear&nbsp;Filters</a>
            }
        </div>


        @*Search (Search all categories)*@
        <h5 class="row mb-1">Search</h5>

        <form class="row mb-2" method="post" asp-page-handler="Search">
            <input asp-for="Search" id="search" class="col-10" type="text" placeholder="Search..." />
            <button class="col-2" type="submit" asp-page-handler="Search"><i class="fa fa-search"></i></button>
        </form>


        @* Category Selection Buttons *@
        <h5 class="row mb-1">Select Document Category</h5>
        @foreach (var category in Model.DocumentCategoryList)
        {
            <div class="row mb-1">

                @*Highlight Selected Category*@
                @if (Model.SelectedCategory != null && Model.SelectedCategory.Id == category.Id)
                {
                    <a asp-page="Index"
                       class="btn btn-block btn-outline-primary"
                       style="border-radius:2px;"
                       asp-route-selectedCategoryId="@category.Id">
                        @category.Name
                    </a>
                }
                else
                {
                    <a asp-page="Index"
                       class="btn btn-block btn-outline-secondary"
                       style="border-radius:2px;"
                       asp-route-selectedCategoryId="@category.Id">
                        @category.Name
                    </a>
                }

            </div>
        }
    </div>


    @* If category selected, display files *@
    @if (Model.SelectedCategory != null)
    {
        @* **** ToDo **** Display all the files for that category OR that match the search
            File upload needs to allow keywords to be entered for search *@
        <div class="col-9 mt-1">

            <h6>FILES HERE</h6>

            <a class="ml-1">FILE LINKS GO HERE</a>

        </div>
    }
</div>


@* If category selected, display text *@
@if (Model.SelectedCategory != null)
{
    @* **** ToDo **** Display all text entries for that category
        This will be broken into sections
        Sections will have a display order number so order can be changed
        An admin can add a section then add a text entry within that section
        
        Should display edit buttons directly on the sections / text *@


    @* **** ToDo ****
        FIX EDIT BUTTONS
        ADD MORE BUTTONS
        ONLY SHOW BUTTONS TO ADMINS
        *@

    <div class="accordion">
        @foreach (Models.DocumentSection documentSection in Model.DocumentSectionList)
        {
            <div class="row">
                <h2 class="row">@documentSection.Name</h2>
                <a class="col-2 btn btn-block border-dark" asp-route-sectionId="@documentSection.Id" asp-page="/Admin/Document/Sectiont/Upsert">EDIT BUTTON</a>
            </div>
            
            foreach (Models.DocumentSectionText documentSectionText in Model.DocumentSectionTextList.Where(t => t.DocumentSectionId == documentSection.Id))
            {
                <div class="card z-depth-0 bordered">     

                    <div class="card-header" id="@("heading"+@documentSectionText.Id)">
                        <h5 class="mb-0 row">
                            <button class="col-10 btn btn-block collapsed" type="button" data-toggle="collapse"
                                    data-target="#@("collapse"+@documentSectionText.Id)" aria-expanded="false" aria-controls="@("collapse"+@documentSectionText.Id)">
                                @documentSectionText.Name
                            </button>

                            <a class="col-2 btn btn-block border-dark" asp-route-sectionTextId="@documentSectionText.Id" asp-page="/Admin/Document/SectionText/Upsert">EDIT BUTTON</a>
                        </h5>

                        
                    </div>

                    

                    <div id="@("collapse"+@documentSectionText.Id)" class="collapse" aria-labelledby="@("heading"+@documentSectionText.Id)">
                        <div class="card-body">
                            @Html.Raw(documentSectionText.Text)
                        </div>
                    </div>

                </div>

            }
        }
    </div>
}