@page
@model Sunridge.Pages.Admin.Lot.Upsert

<h2>Edit Lot 200ACRES</h2>

<hr />
<form method="post">
    <div class="row">

        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.LotObj.Lot.Id != 0) {
                <input type="hidden" asp-for="LotObj.Lot.Id" />
            }

            <div class="form-group">
                <label asp-for="LotObj.Lot.LotNumber"></label>
                <input class="form-control" asp-for="LotObj.Lot.LotNumber" />
                <span class="text-danger" asp-validation-for="LotObj.Lot.LotNumber"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotObj.Lot.TaxId"></label>
                <input class="form-control" asp-for="LotObj.Lot.TaxId" />
                <span class="text-danger" asp-validation-for="LotObj.Lot.TaxId"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotObj.Lot.Address"></label>
                <input class="form-control" asp-for="LotObj.Lot.Address" />
                <span class="text-danger" asp-validation-for="LotObj.Lot.Address"></span>
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="LotObj.OwnersList"></label>
                @Html.DropDownList("LotObj.Owners", (MultiSelectList)Model.LotObj.OwnersList, new { multiple = "multiple" })

                @*<label class="control-label" for="OwnerIds">Owner(s)</label>
            <br />
            <select id="OwnerIds" name="OwnerIds" multiple="multiple" class="form-control"></select>*@
            </div>
            <h5>Items Present on Lot</h5>
            @foreach (var item in Model.LotObj.InventoryList)
            {
                <div class="form-group">
                    <input name="LotObj.Inventory" type="checkbox" value="@item.Id" @(item.IsChecked == true ? "checked" : "") /> @item.ItemName
                    @*<input name="LotObj.InventoryList" type="hidden" value="@item.Id">*@
                    @*<input name="InventoryList" type="checkbox" value="1" />
                    <label class="control-label">Septic System</label>*@
                </div>
            }
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
    <div>
        <a href="/Owner/Lots">Back to List</a>
    </div>

@section Scripts {
<script>
    $(document).ready(function () {
        $('#LotObj_Owners').select2({
            placeholder: "Select an Owner",
            allowClear: true,
            ajax: {
                url: "/api/Lot/GetOwners",
                type: 'get',
                contentType: 'application/json',
                dataType: "json",
                delay: 250, // pause x milli seconds until after users stops typing before sending request
                contentType: "application/json; charset=utf-8",
                data: function (params) {
                    var query =
                    {
                        term: params.term,
                    };
                    return query;
                },
                processResults: function (r) {
                    return {
                        results: $.map(r.data, function (item) {
                            return {
                                id: item.id,
                                text: item.fullName
                            };
                        }),
                    };
                }
            }
        });
    });
</script>
}
