@page
@model Sunridge.Pages.Admin.FireInfo.IndexModel
@{
}


<h2 class="mb-4">Fire Info Item Index</h2>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <a class="btn btn-primary btn-sm" asp-page="/Admin/FireInfo/Upsert">Create Item</a>
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table table-responsive-sm table-hover">
        <thead>
            <tr>
                <th id="fireDate">
                    DisplayDate
                </th>
                <th id="fireHeader">
                    Header
                </th>
                <th id="fireArchived">
                    Archived
                </th>
                <th></th>
            </tr>
        </thead>

@if (Model.FireList.Count > 0)
{
        <tbody>
    @foreach (var item in Model.FireList)
    {
            <tr>
                <td style="width: 25%">
                    @item.DisplayDate.Date.ToShortDateString()
                </td>
                <td style="width: 50%">
                    @Html.Raw(@item.Title)
                </td>
                <td>
                    @item.Archived
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info btn-sm" asp-page="/Admin/FireInfo/Upsert" asp-route-id="@item.Id">
                            <span class="d-none d-lg-block">Edit</span>
                            <i class="fas fa-edit d-lg-none"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" asp-page="/Admin/FireInfo/Delete" asp-route-id="@item.Id">
                            <span class="d-none d-lg-block">Delete</span>
                            <i class="fas fa-trash d-lg-none"></i>
                        </a>
                    </div>
                </td>
            </tr>
    }
        </tbody>
}
    </table>
</div>