@page
@model Sunridge.Pages.Home.Photos.IndexModel
@{
    ViewData["Title"] = "Photo Gallery";
}

@*TEMPORARY TEST LINKS*@
<a class="row" asp-page="../../Admin/PhotoCategory/Index">PhotoCategory Index</a>
<a class="row" asp-page="../../Admin/PhotoCategory/Upsert">PhotoCategory Upsert</a>
<a class="row" asp-page="../../Owner/Photos/Album/Upsert">Add Album (BROKEN)</a>
<a class="row" asp-route-PhotoAlbumId="4" asp-page="../../Owner/Photos/Album/Upsert">Edit Album</a>
<a class="row" asp-route-PhotoAlbumId="4" asp-page="../../Owner/Photos/Album/Photo/Upsert">Add Photo</a>
<a class="row" asp-route-PhotoAlbumId="4" asp-route-PhotoId="3" asp-page="../../Owner/Photos/Album/Photo/Upsert">Edit Photo</a>

<div class="row m-1 p-1">
    @*Display category filters here*@
    @*Only display the filters if an album isn't selected.*@
    @if (Model.PhotoVM.SelectedPhotoAlbum == null)
    {
        <div class="col-3">
            <h4 class="row">Select an Album Category</h4>

            @*Clear Photo Category Selection*@
            <div class="row mb-1">
                @*Highlight no filters*@
                @if (Model.PhotoVM.SelectedPhotoCategory == null)
                {
                    <a asp-page="Index" class="btn btn-block btn-outline-primary" style="border-radius:2px;" asp-route-PhotoCategoryId="">Show&nbsp;All</a>
                }
                else
                {
                    <a asp-page="Index" class="btn btn-block btn-outline-secondary" style="border-radius:2px;" asp-route-PhotoCategoryId="">Show&nbsp;All</a>
                }
            </div>

            @*Photo Category Selection*@            
            @foreach (var photoCategory in Model.PhotoVM.PhotoCategoryList)
            {
                @*Only display categories that have albums in them.*@
                @if (Model.PhotoVM.PhotoAlbumList.Where(a => a.PhotoCategoryId == photoCategory.Id).Count() > 0)
                {
                    <div class="row mb-1">
                        @*Highlight Selected Category*@
                        @if (Model.PhotoVM.SelectedPhotoCategory != null && Model.PhotoVM.SelectedPhotoCategory.Id == photoCategory.Id)
                        {
                            <a asp-page="Index" class="btn btn-block btn-outline-primary" style="border-radius:2px;" asp-route-PhotoCategoryId="@photoCategory.Id">@photoCategory.Name</a>
                        }
                        else
                        {
                            <a asp-page="Index" class="btn btn-block btn-outline-secondary" style="border-radius:2px;" asp-route-PhotoCategoryId="@photoCategory.Id">@photoCategory.Name</a>
                        }
                    </div>
                }
            }
        </div>
    }




    @*Display rest of the page*@
    <div class="col-9">

        @*Display only albums for selected category*@
        @if (Model.PhotoVM.SelectedPhotoCategory != null && Model.PhotoVM.SelectedPhotoAlbum == null)
        {
            <div class="row container pb-3 backgroundWhite">
                <div class="col-12">
                    <div class="row">
                        <h2 class="pl-1"><b>@Model.PhotoVM.SelectedPhotoCategory.Name</b></h2>

                        @*Display all the albums for the selected category*@
                        <div class="col-12">
                            <div class="row my-3">
                                @foreach (var photoAlbum in Model.PhotoVM.PhotoAlbumList.Where(a => a.PhotoCategoryId == @Model.PhotoVM.SelectedPhotoCategory.Id))
                                {
                                    //Use a partial view to generate the shoe card as this code is repeated frequently based on the filters set.
                                    Model.PhotoAlbum = photoAlbum;

                                    <partial name="Home/Photos/Views/_PhotoAlbumCard" />
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }


        @*Display all photos for the selected album with a selected category to come back to*@
        else if (Model.PhotoVM.SelectedPhotoAlbum != null && Model.PhotoVM.SelectedPhotoCategory != null)
        {  
            // **** ToDo **** Build this display

            <div class="row container pb-3 backgroundWhite">
                <div class="col-12">
                    <div class="row">
                        <h2 class="pl-1"><b>@Model.PhotoVM.SelectedPhotoAlbum.Title</b></h2>

                        @*Display all the photos for the selected album*@
                        <div class="col-12">
                            <div class="row my-3">
                                @foreach (var photo in Model.PhotoVM.PhotoList)
                                {
                                    //Use a partial view to generate the shoe card as this code is repeated frequently based on the filters set.
                                    Model.Photo = photo;

                                    <partial name="Home/Photos/Views/_PhotoCard" />
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <a  class="btn btn-secondary" asp-page="Index" asp-route-PhotoCategoryId="@Model.PhotoVM.SelectedPhotoCategory.Id">Back to Photo Gallery</a>
        }

        
        @*Display all photos for the selected album, no selected category*@
        else if (Model.PhotoVM.SelectedPhotoAlbum != null && Model.PhotoVM.SelectedPhotoCategory == null)
        {
            // **** ToDo **** Build this display

            <a class="btn btn-secondary" asp-page="Index">Back to Photo Gallery</a>
        }


        @*Display all albums (no cateogry selected, no album selected)*@
        else
        {
            <div class="row container pb-3 backgroundWhite">
                <div class="col-12">
                    <div class="row">

                        @foreach (var photoCategory in Model.PhotoVM.PhotoCategoryList)
                        {
                            @*Only Display Categories with Albums in Them*@
                            @if (Model.PhotoVM.PhotoAlbumList.Where(a => a.PhotoCategoryId == photoCategory.Id).Count() > 0)
                            {
                                <h2 class="pl-1"><b>@photoCategory.Name</b></h2>

                                @*Display all the albums for the selected category*@
                                <div class="col-12">
                                    <div class="row my-3">
                                        @foreach (var photoAlbum in Model.PhotoVM.PhotoAlbumList.Where(a => a.PhotoCategoryId == @photoCategory.Id))
                                        {
                                            //Use a partial view to generate the shoe card as this code is repeated frequently based on the filters set.
                                            Model.PhotoAlbum = photoAlbum;

                                            <partial name="Home/Photos/Views/_PhotoAlbumCard" />
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>
