@page
@model Sunridge.Pages.Home.BoardMembers.UpsertModel

@{
    ViewData["Title"] = "Board Members";
}

<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            @*
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (Model.OwnerBoardObj.OwnerBoardMember.Id != 0) {
                <input type="hidden" asp-for="OwnerBoardObj.OwnerBoardMember.Id"/>
            }


            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                <h2>@(Model.OwnerBoardObj.OwnerBoardMember.Id != 0 ? "Update" : "Create") Board Member</h2>
            </div>


            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="OwnerBoardObj.OwnerBoardMember.Image"></label>
                    </div>
                    <div class="col-9">
                        <input type="file" class="form-control" id="uploadBox" name="files"/>
                    </div>
                    <span asp-validation-for="OwnerBoardObj.OwnerBoardMember.Image" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="OwnerBoardObj.OwnerBoardMember.Position"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="OwnerBoardObj.OwnerBoardMember.Position"/>
                        <span class="text-danger" asp-validation-for="OwnerBoardObj.OwnerBoardMember.Position"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="@Model.OwnerBoardObj.OwnerBoardMember.Owner.Id"></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(o => o.OwnerBoardObj.OwnerBoardMember.Owner.Id,
                            Model.OwnerBoardObj.OwnerList,
                            "- Select An Owner -",
                            new {@class = "form-control"})
                        <span class="text-danger" asp-validation-for="@Model.OwnerBoardObj.OwnerBoardMember.Owner.Id"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary form-control">
                                    @(Model.OwnerBoardObj.OwnerBoardMember.Id != 0 ? "Update" : "Create")
                                </button>
                            </div>
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-secondary form-control">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            *@

        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}