@model Sunridge.Pages.Home.Photos.IndexModel

<div class="col-xl-4 col-md-6">

    @*Category Selected*@
    @if (@Model.PhotoVM.SelectedPhotoCategory != null)
    {


    }

    @*No Category Selected*@
    else
    {


    }


    <div class="card" style="border:2px solid #008cba; border-radius: 5px; ">
        <div class="text-center">
            @*Title*@
            <h4 class="text-secondary"><b>@Model.Photo.Title</b></h4>

            @*Display thumb*@
            <img src="@Model.Photo.Thumb" class="card-img-top p-2 rounded" />

            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-warning m-1"
                   asp-route-photoId="@Model.Photo.Id"
                   asp-route-selectedAlbumId="@Model.PhotoVM.SelectedPhotoAlbum.Id"
                   asp-page="/Owner/Photos/Album/Photo/Upsert">
                    <i class="far fa-edit"></i> Edit Photo
                </a>
            }
        </div>
    </div>
</div>


